body{
    background-color: #1B262C;
}
.gameslist{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
}
.card{
    padding: 20px;
    background-color: #0f4c75;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 10px;
    overflow: hidden;
    width: 150px;   
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.card:hover{
    background-color: #3282b8;
    transition: ease 0.3s;
}
.heading{
    text-align: center;
    font-size: 24px;
    color: #BBE1FA;
    margin: 24px 0;
    user-select: none;
}

.red:hover{
    color: rgb(255, 0, 0);
    transition: ease 0.5s;
}
.jstxt{
    color: yellow;
}
.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-size: 24px;
    color: #BBE1FA;
    margin: 24px 0;
    user-select: none;
}

.red:hover{
    color: rgb(157, 1, 1);
    transition: ease 0.5s;
}
a {
    color: #BBE1FA;
    text-decoration: none;
}
a:hover{
    text-decoration-line: underline;
}